.list-group-item {
  display: flex;
  justify-content: space-between;
}

.result-control-btn {
  margin: 10px;
}

.form-control {
  max-width: 12em;
}

.item-list-element {
  list-style-type: none;
}

.edit-input-container {
  display: flex;
}
